html
	head
		title= article.title
		meta(charset='UTF-8')
		meta(name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
		include ../../common/views/meta.pug
		link(rel='stylesheet', href='http://' + domain.static.domain + ':' + domain.static.host + '/static/css/base.css')
		link(rel='stylesheet', href='http://' + domain.static.domain + ':' + domain.static.host + '/article/static/css/article.css')
		include ../../common/views/mobileRem.pug
		include ../../common/views/sta.pug
	body
		include ../../common/views/articleSummary.pug
		div.header.bottom-1px
			h1 #{article.title}
			div(class='article-info') 
				span #{article.date}
				if article.readCount > 0
					span #{'阅读 ' + article.readCount}
		div.body
			ul(class='pics bottom-1px') 
				each imageInfo in article.content
					li
						if imageInfo.animatedurl
							div.animatedCont
								img(width=imageInfo.width height=imageInfo.height src=imageInfo.url data-static-src=imageInfo.url data-animated-src=imageInfo.animatedurl)
								div.play-btn

						else
							img(src=imageInfo.url)
			if article.relatedArticle.length > 0
				div.related-articles
					div.title 相关文章
					ul
						each item in article.relatedArticle
							li
								+article(item)
		
		script(src='http://' + domain.static.domain + ':' + domain.static.host + '/static/js/jquery.js')
		script(src='http://' + domain.static.domain + ':' + domain.static.host + '/static1/article.js')
		include ../../common/views/baiduPush.pug