html
	head
		title= article.title
		meta(charset='UTF-8')
		meta(name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
		link(rel='stylesheet', href='http://' + domain.static.domain + ':' + domain.static.host + '/static/css/base.css')
		link(rel='stylesheet', href='http://' + domain.static.domain + ':' + domain.static.host + '/article/static/css/article.css')
		include ../../common/views/mobileRem.pug
		script(src='http://' + domain.static.domain + ':' + domain.static.host + '/static/js/jquery.js')
		include ../../common/views/sta.pug
	body
		div.header.bottom-1px
			h1 #{article.title}
			div(class='article-info') #{article.date}
		div.body
			ul
				each imageInfo in article.content
					li
						if imageInfo.animatedurl
							div.animatedCont
								img(src=imageInfo.url data-static-src=imageInfo.url data-animated-src=imageInfo.animatedurl)
								div.play-btn

						else
							img(src=imageInfo.url)
		script(src='http://' + domain.static.domain + ':' + domain.static.host + '/static/js/article.js')