mixin article(article)
    a(class= 'article-list-item bottom-1px', href=article.url)
        h2.title #{article.title}
        ul.img-list.cf
            each img in article.surface
                li
                    if article.ignoreLazyload
                        img(src=img, alt=article.title)
                    else
                        img(data-original=img, alt="")
        p.article-info 
            span #{article.date}
            if article.readCount > 0
                span #{'阅读' + article.readCount}